@model Attendance

@{
    ViewData["Title"] = "CreateOrEdit";
}

<h1 class="text-center">Create Or Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="dtDate" class="control-label"></label>
                <input asp-for="dtDate" type="date" class="form-control" />
                <span asp-validation-for="dtDate" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="AttStatus" class="control-label"></label>
                <input asp-for="AttStatus" class="form-control" />
                <span asp-validation-for="AttStatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="InTime"  class="control-label"></label>
                <input asp-for="InTime" type="time" class="form-control" />
                <span asp-validation-for="InTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutTime" class="control-label"></label>
                <input asp-for="OutTime" type="time" class="form-control" />
                <span asp-validation-for="OutTime" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmpId"></select>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
